<div class="container mt-3">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
            <div class="card">
                <div class="card-header">Youtube</div>
                <div class="card-body">
                    <h5 class="card-title">Video Surfing</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laborum?</p>
                    <a href="{% url 'youtube-home' %}" class="btn col-12 btn-primary">Dive Now!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
            <div class="card">
                <div class="card-header">Instagram</div>
                <div class="card-body">
                    <h5 class="card-title">Sharing Media</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laborum?</p>
                    <a href="{% url 'instagram-home' %}" class="btn col-12 btn-primary">Dive Now!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
            <div class="card">
                <div class="card-header">Facebook</div>
                <div class="card-body">
                    <h5 class="card-title">Sharing Media</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laborum?</p>
                    <a href="#" class="btn col-12 btn-primary">Dive Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>