<div class="modal fade" id="postCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="postCreate" aria-hidden="true">
    <div class="modal-dialog modal-dialog-static modal-lg">
        <div class="modal-content">
            <form id="createPostForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Create Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="createPostBody">
                        <div class="m-0 p-0" id="createError"></div>
                        <div class="mb-3">
                            <label for="form-label">Please Select Post Images</label>
                            <input type="file" accept="image/*" class="form-control" name="images" multiple required>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Add Post Description" id="floatingTextarea2"
                                required maxlength="1024" name="title"></textarea>
                            <label for="floatingTextarea2">Add Post Description</label>
                            <div class="invalid-feedback">Post Description is Required</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="postResetBtn" class="btn btn-primary">Reset</button>
                    <button type="submit" id="postCreateBtn" class="btn btn-primary">Create
                        Post</button>
                </div>
            </form>
        </div>
    </div>
</div>