{% load custom_tags %}
<div class="card my-3" id="post_{{post.id}}">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'facebook-username-profile' post.user %}" class="text-decoration-none">
                {% if post.user.profile %}
                <img src="{{post.user.profile.url}}" class="rounded-circle me-2 object-fit-cover" height="35"
                    width="35" />
                {% else %}
                <img src="https://picsum.photos/200/300" class="rounded-circle me-2 object-fit-cover"
                    style="width: 35px; height: 35px;" />
                {% endif %}
                <strong>{{post.user.username}}</strong>
            </a>
            <strong><i class="fas fa-ellipsis"></i></strong>
        </div>
    </div>
    <div class="card-body">
        <div class="post-details">
            {% if post.images.all.count > 1 %}
            {% include "instagram/image-carousel.html" %}
            {% else %}
            {% for image in post.images.all %}
            <img src="{{image.image.url}}" class="object-fit-cover w-100" height="480" />
            {% endfor %}
            {% endif %}
            <div class="d-flex justify-content-between align-items-center my-3">
                <div>
                    <a type="button" id="like-{{post.id}}" href="like/{{post.id}}"
                        class="far btn btn-outline-primary {% post_liked_by_user request.user.id post %} text-decoration-none fa-heart me-3"></a>
                    <a type="button" href="#collapseComments_{{post.id}}" data-bs-toggle="collapse"
                        class="far btn btn-outline-primary active text-decoration-none fa-comment me-3"></a>
                </div>
                <a type="button" id="saved-{{post.id}}" href="bookmark/{{post.id}}"
                    class="far btn btn-outline-primary {% post_saved_by_user request.user.id post %} text-decoration-none fa-bookmark"></a>
            </div>
            <div class="description mb-3">
                {% include "instagram/post-text-trunacate.html" with post=post %}
                <a data-bs-toggle="collapse" href="#postText_{{post.id}}"
                    class="text-decoration-none feed-title-toggle">Show More</a>
            </div>
        </div>
        <div class="collapse p-0" id="collapseComments_{{post.id}}">
            <div class="comments">
                {% include 'facebook/comments.html' %}
            </div>
        </div>

    </div>
    <div class="card-footer">
        {{post.created}}
    </div>
</div>