<div class="card shadow-0 border mt-3">
    <div class="card-body p-4">
        <form method="post" class="createPostComment">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="hidden" value="{{post.id}}" name="id">
                <input type="text" class="form-control" id="commentInput" name="comment" placeholder="Add Comment">
                <label for="floatingInput"><i class="fa fa-plus-circle me-2"></i>Comment</label>
            </div>
        </form>
        <div id="newComment-{{post.id}}"></div>
        {% if post.comments.all %}
        {% for comment in post.comments.all %}
        {%if forloop.counter < 3%} {%include 'instagram/comment-card.html' %} {% else %} {% endif %} {% endfor %}
            {%include "instagram/comments-offcanvas.html" %} <a data-bs-toggle="offcanvas"
            href="#commentsOffcanvas{{post.id}}" class="text-decoration-none">Load More
            Comments</a>
            {% endif %}
    </div>
</div>