<div class="modal fade" id="followList" tabindex="-1" aria-labelledby="followListLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Follow List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav class="">
                    <div class="nav nav-tabs d-flex justify-content-around" id="nav-tab" role="tablist">
                        <button class="nav-link text-capitalize active" id="nav-following-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-following" type="button" role="tab" aria-controls="nav-following"
                            aria-selected="true">following</button>
                        <button class="nav-link text-capitalize" id="nav-followers-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-followers" type="button" role="tab" aria-controls="nav-followers"
                            aria-selected="false">followers</button>
                    </div>
                </nav>
                <div class="tab-content my-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-following" role="tabpanel"
                        aria-labelledby="nav-following-tab" tabindex="0">
                        <div class="list-group list-group-flush">
                            {% for user in user.get_followers.all %}
                            <div
                                class="d-flex justify-content-between align-items-center list-group-item list-group-item-action rounded">
                                <div class="d-flex align-items-center">
                                    {% if user.profile %}
                                    <img src="{{user.profile.url}}" alt="avatar" class="rounded-circle object-fit-cover"
                                        width="64" height="64">
                                    {% else %}
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                        alt="avatar" class="rounded-circle object-fit-cover" width="64" height="64">
                                    {% endif %}
                                    <div class="card-body mx-3">
                                        {%if user.first_name%}
                                        <h5 class="card-title">{{user.get_full_name}}</h5>
                                        {%else%}
                                        <h5 class="card-title">instagram_user</h5>
                                        {%endif%}
                                        <p class="card-text">@{{user}}</p>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary followBtn text-capitalize" id="{{user.id}}">
                                        {% if request.user in user.following.all%}
                                        Following
                                        {% else %}
                                        Follow
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-followers" role="tabpanel" aria-labelledby="nav-followers-tab"
                        tabindex="0">
                        <div class="list-group list-group-flush">
                            {% for user in user.get_following.all %}
                            <div
                                class="d-flex justify-content-between align-items-center list-group-item list-group-item-action rounded">
                                <div class="d-flex align-items-center">
                                    {% if user.profile %}
                                    <img src="{{user.profile.url}}" alt="avatar" class="rounded-circle object-fit-cover"
                                        width="64" height="64">
                                    {% else %}
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                        alt="avatar" class="rounded-circle object-fit-cover" width="64" height="64">
                                    {% endif %}
                                    <div class="card-body mx-3">
                                        {%if user.first_name%}
                                        <h5 class="card-title">{{user.get_full_name}}</h5>
                                        {%else%}
                                        <h5 class="card-title">instagram_user</h5>
                                        {%endif%}
                                        <p class="card-text">{{user}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>