<div class="row">
    {% for post in request.user.get_saved_posts.all %}
    {% if post.images.all %}
    <div class="m-0 p-0 col-sm-12 col-md-4 p-3">
        <div id="profile_feed_{{post.id}}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in post.images.all %}
                <div class="carousel-item {%if forloop.first%}active{%endif%}">
                    <img src="{{image.image.url}}" class="object-fit-cover w-100 post-profile-img" height="250"
                        data-bs-interval="3000" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>