{% load static %}
<div class="card border-0 pb-3" tabindex="-1">
    <div class="card-body">
        <div class="card" id="sidebar">
            <div class="card-header">
                <div class="d-flex align-items-center  justify-content-center text-decoration-none">
                    <div class="card-body text-center">
                        <div class="card-body text-center">
                            {% if request.user.is_authenticated %}
                            <div class="card-body text-center">
                                {% if user.profile %}
                                <img src="{{user.profile.url}}" alt="avatar"
                                    class="rounded-circle border border-3 p-2 object-fit-cover" alt="avatar" width="128"
                                    height="128">
                                {% else %}
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                    class="object-fit-cover" alt="avatar" width="128" height="128" />
                                {% endif %}
                                {% if user.first_name %}
                                <h5 class="my-2">{{user.get_full_name}}</h5>
                                <p class="text-muted">@{{user.username}}</p>
                                {% else %}
                                <p class="my-3 lead">Please Complete Profile</p>
                                {% endif %}
                            </div>
                            {% endif %}
                            <div class="mb-3 pb-2">
                                <a type="button" href="{% url 'facebook-home' %}" class="mx-2 btn btn-primary">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a type="button" href="{% url 'youtube-home' %}" class="mx-2 btn btn-primary">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a type="button" href="{% url 'instagram-home' %}" class="mx-2 btn btn-primary">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <div class="d-flex justify-content-between rounded-3 p-3 mb-2 bg-body-tertiary">
                                <div class="">
                                    <p class="text-muted mb-1">Followers</p>
                                    <p class="mb-0">{{user.get_followers.count}}</p>
                                </div>
                                <div class="mx-3">|</div>
                                <div class="">
                                    <p class="text-muted mb-1">Following</p>
                                    <p class="mb-0">{{user.get_following.count}}</p>
                                </div>
                                <div class="mx-3">|</div>
                                <div class="">
                                    <p class="text-muted mb-1">Posts</p>
                                    <p class="mb-0">{{user.get_total_posts.count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>