{% if form.errors %}
<div class="position-absolute top-0 end-0 m-3">
    <div class="toast align-items-center text-bg-primary border-0 show" id="myToast" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {% for field in form %}
                {% for error in field.errors %}
                <strong>{{ error }}</strong>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <strong>{{ error }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endif %}
<div class="position-absolute top-0 end-0 m-3">
    <div class="toast align-items-center text-bg-primary border-0" id="myToast" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastBody">
                {% for message in messages %}
                <strong>{{ message }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>