{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Index{% endblock %}</title>
    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'img/quickmedia.png' %}" type="image/x-icon">
    {% endblock %}
    {% include "required/css.html" %}
    {% block css %}{% endblock %}
</head>
{% include "required/js.html" %}

<body data-bs-theme="dark">
    {% csrf_token %}
    {% block main-content %}
    {% endblock %}
    {% include "required/error-message.html" %}
    {% include "required/back-to-top.html" %}
</body>
{% block js %}{% endblock %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/infinite-scroll.js' %}"></script>

</html>